.App {
  text-align: center;
  display: flex;
  align-items: flex-start;

}

.App-header {
  width: 30vw;
  height: 80vh;
  padding: 20px;
  color: grey;
  border-color: #00c6c3;
  border-width: 2px;
  border-style: solid;
  margin-top: 50px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  font-family: 'Raleway', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
}

.intro {
  width: 390px;
}

.highlight {
  color: #00c6c3;
}

.App-intro {
  margin-left: 60px;
  font-size: large;
  color: grey;
  height: 70vh;
  display: flex;
  justify-content: center;

}

.chartmain {
  color: #56e39f;
  width: 60vw;

  height: 97vh;
  display: flex;
  flex-direction: column;
}
.down {
  height: 55px;
  width: 55px;
  margin: 10px;
}
.other-projects {
  height: 25vh;
  display: flex;
  justify-content: flex-end;
  color: #00c6c3;
}
.line {
  color: red;
  margin-top: 50px;
}
.bottom-other-projects {
  background-color: red;
  height: 45vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #00c6c3;
}

